/*
 * Helpers: Grid
 */

@grid-container-site-width: @site-width;
@grid-container-site-padding: @site-padding;

.grid-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: @grid-container-site-padding;
    padding-right: @grid-container-site-padding;

    & + .grid {
        margin-top: @grid-container-site-padding;
    }

    &--full-width {
        padding-left: 0;
        padding-right: 0;
    }

    &--site-width { max-width: @grid-container-site-width; }
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-right: -calc(@grid-container-site-padding / 2);
    margin-left: -calc(@grid-container-site-padding / 2);

    & + .grid-row {
        margin-top: @grid-container-site-padding;
    }

    &--two-columns {
        > .grid-column {
            width: 100%;

            @media (min-width: @screen-md-min) { width: calc(~"50% - 30px"); }
        }
    }

    &--three-columns {
        > .grid-column {
            width: 100%;

            @media (min-width: @screen-md-min) { width: calc(~"33.33% - 30px"); }
        }
    }

    &--two-third {
        > .grid-column{
            width: 100%;

            @media (min-width: @screen-md-min) { width: calc(~"66.66% - 30px"); }

            &:last-child {
                width: 100%;

                @media (min-width: @screen-md-min) { width: calc(~"33.33% - 30px"); }
            }
        }
    }
}

.grid-column {
    flex-grow: 1;
    margin-right: calc(@site-padding / 2);
    margin-left: calc(@site-padding / 2);
    margin-bottom: @site-padding;

    @media (min-width: @screen-md-min) { margin-bottom: 0; }
}