<div class="hero">
  <img src="{{ path '/assets/images/hero--mona-eendra-313518.jpg' }}" alt="" title="" class="hero__image">
  <div class="hero__container">
    <div class="hero__row">
      <div class="hero__column">
        <h1 class="hero__title">Hero Title</h1>
        <div class="hero__info">
          Hero Info
        </div>
      </div>
    </div>
  </div>
</div>
