<nav class="nav-main" role="navigation" vocab="http://schema.org/" typeof="SiteNavigationElement">
  <ul class="nav-main-list">
    {{#each items}}
      {{> @main-menu-link }}
    {{/each}}
  </ul>
</nav>
