/*
* Element: Headers
*/

/*Setting document variables*/
:root{
	--heading-color-primary: --color-text;
	--heading-color-secondary: --color-secondary;
}

.heading-page {
    font-size: 24px;
    color: var(--heading-color-primary);
    font-family: var(--heading-font-family);
}
