/*
 * Component: Footer
 */

@footer-background-color: @color-secondary;

.footer {
    background-color: @footer-background-color;
    color: @color-white;
    padding-top: 30px;
    padding-bottom: 30px;
}