.grid {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: @screen-md-min) {
        padding-left: 60px;
        padding-right: 60px;
    }
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    &--full-width {
        max-width: 2000px;
        padding-left: 0;
        padding-right: 0;
    }

    &--site-width { max-width: 1560px; }
    
    &--two-columns {
        max-width: 1500px;

        > .grid-column {
            width: 100%;
    
            @media (min-width: @screen-md-min) { width: calc(~"50% - 30px"); }
        }
    }

    &--three-columns {
        max-width: 1500px;

        > .grid-column {
            width: 100%;
        
            @media (min-width: @screen-md-min) { width: calc(~"33.33% - 30px"); }
        }
    }

    &--two-third {
        max-width: 1500px;
        
        > .grid-column{
            width: 100%;

            @media (min-width: @screen-md-min) { width: calc(~"66.66% - 30px"); }
            
            &:last-child {
                width: 100%;

                @media (min-width: @screen-md-min) { width: calc(~"33.33% - 30px"); }
            }
        }
    }
}

.grid-column {
    flex-grow: 1;
    margin-right: 15px;
    margin-left: 15px;
}