/*
 * Helpers: Grid
 */


@grid-site-width: @site-width;
@grid-site-padding: @site-padding;

.grid {
    margin: 0 auto;
    padding-left: @grid-site-padding;
    padding-right: @grid-site-padding;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-right: -calc(@site-padding / 2);
        margin-left: -calc(@site-padding / 2);
    }

    &--full-width {
        max-width: 2000px;
        padding-left: 0;
        padding-right: 0;
    }

    &--site-width { max-width: @grid-site-width; }

    &--two-columns {
        > .grid-column {
            width: 100%;
    
            @media (min-width: @screen-md-min) { width: calc(~"50% - 30px"); }
        }
    }

    &--three-columns {
        > .grid-column {
            width: 100%;
        
            @media (min-width: @screen-md-min) { width: calc(~"33.33% - 30px"); }
        }
    }

    &--two-third {
        > .grid-column{
            width: 100%;

            @media (min-width: @screen-md-min) { width: calc(~"66.66% - 30px"); }
            
            &:last-child {
                width: 100%;

                @media (min-width: @screen-md-min) { width: calc(~"33.33% - 30px"); }
            }
        }
    }
}

.grid-column {
    flex-grow: 1;
    margin-right: calc(@site-padding / 2);
    margin-left: calc(@site-padding / 2);
}