/*
* Element: Label
*/

//Setting document variables
@label-text-color: @color-gray-light;

@label-font-family: @base-font-family;

.label-inverted {
    font-family: @label-font-family;
    color: @label-text-color;
    display: inline-block;
    max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
    margin-bottom: 5px;
    font-weight: bold;

    &--block {display: block;}
}
