/*
* Element: Headers
*/

//Setting document variables
@heading-color-primary: @color-primary;
@heading-color-secondary: @color-secondary;

.heading-page {
    font-size: 24px;
    color: @heading-color-primary; 
    font-family: @heading-font-family;
}
