.nav-main {
    @media (max-width: @screen-md) {
        display: none;
    }
}

.nav-main-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-main-list__item {
    display: inline-block;
    margin-right: 5px;

    &:hover {
        color: white;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &.active {
        color: white;

        a {
            color: white;
        }
    }

    &__link {
        color: gray;
        text-decoration: none;
    }
}
